SCORESAGA_DB_URL=
SCORESAGA_DB_USERNAME=
SCORESAGA_DB_PASSWORD=

SERVER_PORT=

# Generate a long random secret for JWT signing in each environment.
JWT_SECRET=
JWT_EXPIRATION_MS=

FOOTBALL_API_BASE_URL=
FOOTBALL_API_KEY=

CRICKET_API_BASE_URL=
CRICKET_API_KEY=
